@import "tailwindcss";

@theme {
  /* font family */
  --font-poppins: "Poppins", san-serif;

  /* colors */
  --color-accent: #000000;
  --color-primary: #d1453b;
  --color-secondary: #f6eee0;

  /* font sizes */
  --text-fs-paragraph: clamp(1rem, 0.964rem + 0.179vw, 1.125rem);
  --text-fs-h1: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  --text-fs-h2: clamp(2rem, 1.714rem + 1.429vw, 3rem);
  --text-fs-h3: clamp(1.75rem, 1.536rem + 1.071vw, 2.5rem);
  --text-fs-h4: clamp(1.5rem, 1.429rem + 0.357vw, 1.75rem);
}

@layer components {
  .hero-headshots {
    @apply w-8 h-8 rounded-full md:w-12 md:h-12 xl:w-16 xl:h-16;
  }
  .hoverLine {
    @apply absolute w-full h-[2px] bg-primary left-0 top-full scale-x-0 group-hover:scale-x-100 transition-transform duration-300;
  }
}
